<body>
  <%- include("header") -%> <%- include("contentnavbar") -%>
  <div class="min-height">
    <%- include("contenthome") -%> <%- include("contentlinks") -%>
  </div>
  <%- include("footer") -%>
</body>
